<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Server=CFCO06SQL2K12;Database=helpdesk;Trusted_Connection=True;"/>
    <add key="TicketAreas" value="'Intake Evaluation', 'Investigation', 'Person'"/>
    <add key="AssigneeUserName" value="'DCFS\CAA6377'"/>
    <add key="ResponsibilityGroups" value="'SACWIS Data','SACWIS Dev'"/>
    <add key="EmailSmtpHost" value="SMTPR.illinois.gov"/>
    <add key="EmailSendTo" value="Alexis.Atchison@illinois.gov" />
    <add key="EmailSendFrom" value="Alexis.Atchison@illinois.gov"/>
    <add key="EmailSendFromDisplay" value="Atchison, Alexis"/>
  </appSettings>
</configuration>